cufflinks==0.17.0
  chart-studio==1.0.0
    plotly==4.3.0
      retrying==1.3.3
        six==1.13.0
      six==1.13.0
    requests==2.22.0
      certifi==2019.9.11
      chardet==3.0.4
      idna==2.8
      urllib3==1.25.7
    retrying==1.3.3
      six==1.13.0
    six==1.13.0
  colorlover==0.3.0
  ipython==7.10.0
    backcall==0.1.0
    colorama==0.4.1
    decorator==4.4.1
    jedi==0.15.1
      parso==0.5.1
    pickleshare==0.7.5
    prompt-toolkit==3.0.0
      wcwidth==0.1.7
    Pygments==2.5.1
    setuptools==42.0.1.post20191125
    traitlets==4.3.3
      decorator==4.4.1
      ipython-genutils==0.2.0
      six==1.13.0
  ipywidgets==7.5.1
    ipykernel==5.1.3
      ipython==7.10.0
        backcall==0.1.0
        colorama==0.4.1
        decorator==4.4.1
        jedi==0.15.1
          parso==0.5.1
        pickleshare==0.7.5
        prompt-toolkit==3.0.0
          wcwidth==0.1.7
        Pygments==2.5.1
        setuptools==42.0.1.post20191125
        traitlets==4.3.3
          decorator==4.4.1
          ipython-genutils==0.2.0
          six==1.13.0
      jupyter-client==5.3.4
        jupyter-core==4.6.1
          pywin32==227
          traitlets==4.3.3
            decorator==4.4.1
            ipython-genutils==0.2.0
            six==1.13.0
        python-dateutil==2.8.1
          six==1.13.0
        pywin32==227
        pyzmq==18.1.1
        tornado==6.0.3
        traitlets==4.3.3
          decorator==4.4.1
          ipython-genutils==0.2.0
          six==1.13.0
      tornado==6.0.3
      traitlets==4.3.3
        decorator==4.4.1
        ipython-genutils==0.2.0
        six==1.13.0
    ipython==7.10.0
      backcall==0.1.0
      colorama==0.4.1
      decorator==4.4.1
      jedi==0.15.1
        parso==0.5.1
      pickleshare==0.7.5
      prompt-toolkit==3.0.0
        wcwidth==0.1.7
      Pygments==2.5.1
      setuptools==42.0.1.post20191125
      traitlets==4.3.3
        decorator==4.4.1
        ipython-genutils==0.2.0
        six==1.13.0
    nbformat==4.4.0
      ipython-genutils==0.2.0
      jsonschema==3.2.0
        attrs==19.3.0
        importlib-metadata==0.23
          zipp==0.6.0
            more-itertools==7.2.0
        pyrsistent==0.15.6
          six==1.13.0
        setuptools==42.0.1.post20191125
        six==1.13.0
      jupyter-core==4.6.1
        pywin32==227
        traitlets==4.3.3
          decorator==4.4.1
          ipython-genutils==0.2.0
          six==1.13.0
      traitlets==4.3.3
        decorator==4.4.1
        ipython-genutils==0.2.0
        six==1.13.0
    traitlets==4.3.3
      decorator==4.4.1
      ipython-genutils==0.2.0
      six==1.13.0
    widgetsnbextension==3.5.1
      notebook==6.0.2
        ipykernel==5.1.3
          ipython==7.10.0
            backcall==0.1.0
            colorama==0.4.1
            decorator==4.4.1
            jedi==0.15.1
              parso==0.5.1
            pickleshare==0.7.5
            prompt-toolkit==3.0.0
              wcwidth==0.1.7
            Pygments==2.5.1
            setuptools==42.0.1.post20191125
            traitlets==4.3.3
              decorator==4.4.1
              ipython-genutils==0.2.0
              six==1.13.0
          jupyter-client==5.3.4
            jupyter-core==4.6.1
              pywin32==227
              traitlets==4.3.3
                decorator==4.4.1
                ipython-genutils==0.2.0
                six==1.13.0
            python-dateutil==2.8.1
              six==1.13.0
            pywin32==227
            pyzmq==18.1.1
            tornado==6.0.3
            traitlets==4.3.3
              decorator==4.4.1
              ipython-genutils==0.2.0
              six==1.13.0
          tornado==6.0.3
          traitlets==4.3.3
            decorator==4.4.1
            ipython-genutils==0.2.0
            six==1.13.0
        ipython-genutils==0.2.0
        Jinja2==2.10.3
          MarkupSafe==1.1.1
        jupyter-client==5.3.4
          jupyter-core==4.6.1
            pywin32==227
            traitlets==4.3.3
              decorator==4.4.1
              ipython-genutils==0.2.0
              six==1.13.0
          python-dateutil==2.8.1
            six==1.13.0
          pywin32==227
          pyzmq==18.1.1
          tornado==6.0.3
          traitlets==4.3.3
            decorator==4.4.1
            ipython-genutils==0.2.0
            six==1.13.0
        jupyter-core==4.6.1
          pywin32==227
          traitlets==4.3.3
            decorator==4.4.1
            ipython-genutils==0.2.0
            six==1.13.0
        nbconvert==5.6.1
          bleach==3.1.0
            six==1.13.0
            webencodings==0.5.1
          defusedxml==0.6.0
          entrypoints==0.3
          Jinja2==2.10.3
            MarkupSafe==1.1.1
          jupyter-core==4.6.1
            pywin32==227
            traitlets==4.3.3
              decorator==4.4.1
              ipython-genutils==0.2.0
              six==1.13.0
          mistune==0.8.4
          nbformat==4.4.0
            ipython-genutils==0.2.0
            jsonschema==3.2.0
              attrs==19.3.0
              importlib-metadata==0.23
                zipp==0.6.0
                  more-itertools==7.2.0
              pyrsistent==0.15.6
                six==1.13.0
              setuptools==42.0.1.post20191125
              six==1.13.0
            jupyter-core==4.6.1
              pywin32==227
              traitlets==4.3.3
                decorator==4.4.1
                ipython-genutils==0.2.0
                six==1.13.0
            traitlets==4.3.3
              decorator==4.4.1
              ipython-genutils==0.2.0
              six==1.13.0
          pandocfilters==1.4.2
          Pygments==2.5.1
          testpath==0.4.4
          traitlets==4.3.3
            decorator==4.4.1
            ipython-genutils==0.2.0
            six==1.13.0
        nbformat==4.4.0
          ipython-genutils==0.2.0
          jsonschema==3.2.0
            attrs==19.3.0
            importlib-metadata==0.23
              zipp==0.6.0
                more-itertools==7.2.0
            pyrsistent==0.15.6
              six==1.13.0
            setuptools==42.0.1.post20191125
            six==1.13.0
          jupyter-core==4.6.1
            pywin32==227
            traitlets==4.3.3
              decorator==4.4.1
              ipython-genutils==0.2.0
              six==1.13.0
          traitlets==4.3.3
            decorator==4.4.1
            ipython-genutils==0.2.0
            six==1.13.0
        prometheus-client==0.7.1
        pyzmq==18.1.1
        Send2Trash==1.5.0
        terminado==0.8.3
          pywinpty==0.5.7
          tornado==6.0.3
        tornado==6.0.3
        traitlets==4.3.3
          decorator==4.4.1
          ipython-genutils==0.2.0
          six==1.13.0
  numpy==1.16.4
  pandas==0.25.3
    numpy==1.16.4
    python-dateutil==2.8.1
      six==1.13.0
    pytz==2019.3
  plotly==4.3.0
    retrying==1.3.3
      six==1.13.0
    six==1.13.0
  setuptools==42.0.1.post20191125
  six==1.13.0
Keras==2.3.1
  h5py==2.9.0
    numpy==1.16.4
    six==1.13.0
  Keras-Applications==1.0.8
    h5py==2.9.0
      numpy==1.16.4
      six==1.13.0
    numpy==1.16.4
  Keras-Preprocessing==1.1.0
    numpy==1.16.4
    six==1.13.0
  numpy==1.16.4
  PyYAML==5.1.2
  scipy==1.3.1
  six==1.13.0
matplotlib==3.1.2
  cycler==0.10.0
    six==1.13.0
  kiwisolver==1.1.0
    setuptools==42.0.1.post20191125
  numpy==1.16.4
  pyparsing==2.4.5
  python-dateutil==2.8.1
    six==1.13.0
mkl-fft==1.0.14
  numpy==1.16.4
mkl-random==1.0.2
  numpy==1.16.4
mkl-service==2.0.2
  six==1.13.0
opt-einsum==3.1.0
  numpy==1.16.4
pipdeptree==0.13.2
  pip==19.3.1
pyDOE==0.3.8
  numpy==1.16.4
  scipy==1.3.1
pyreadline==2.1
PyXGBoost==1.0.9
sklearn==0.0
  scikit-learn==0.21.3
    joblib==0.14.0
    numpy==1.16.4
    scipy==1.3.1
tensorflow==1.14.0
  absl-py==0.8.1
    six==1.13.0
  astor==0.8.0
  gast==0.2.2
  google-pasta==0.1.8
    six==1.13.0
  grpcio==1.16.1
    six==1.13.0
  Keras-Applications==1.0.8
    h5py==2.9.0
      numpy==1.16.4
      six==1.13.0
    numpy==1.16.4
  Keras-Preprocessing==1.1.0
    numpy==1.16.4
    six==1.13.0
  numpy==1.16.4
  protobuf==3.8.0
    setuptools==42.0.1.post20191125
    six==1.13.0
  six==1.13.0
  tensorboard==1.14.0
    absl-py==0.8.1
      six==1.13.0
    grpcio==1.16.1
      six==1.13.0
    Markdown==3.1.1
      setuptools==42.0.1.post20191125
    numpy==1.16.4
    protobuf==3.8.0
      setuptools==42.0.1.post20191125
      six==1.13.0
    setuptools==42.0.1.post20191125
    six==1.13.0
    Werkzeug==0.16.0
    wheel==0.33.6
  tensorflow-estimator==1.14.0
  termcolor==1.1.0
  wheel==0.33.6
  wrapt==1.11.2
tqdm==4.39.0
wincertstore==0.2
xgboost==0.90
  numpy==1.16.4
  scipy==1.3.1